// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

a:hover {
  text-decoration: none;
}

h1 {
  margin: 16px 0;
}

.icon {
  font-size: 24px;
  padding: 16px;
}
